## Introducción <a id='intro'></a>
Como analista de datos, tu trabajo consiste en analizar datos para extraer información valiosa y tomar decisiones basadas en ellos. Esto implica diferentes etapas, como la descripción general de los datos, el preprocesamiento y la prueba de hipótesis.

Siempre que investigamos, necesitamos formular hipótesis que después podamos probar. A veces aceptamos estas hipótesis; otras veces, las rechazamos. Para tomar las decisiones correctas, una empresa debe ser capaz de entender si está haciendo las suposiciones correctas.

En este proyecto, compararás las preferencias musicales de las ciudades de Moscow y Saint-Petesburg. Estudiarás datos reales de transmisión de música online para probar la hipótesis a continuación y comparar el comportamiento de los usuarios y las usuarias de estas dos ciudades.

### Objetivo:
Prueba la hipótesis:
1. La actividad de los usuarios y las usuarias difiere según el día de la semana y dependiendo de la ciudad.


### Etapas
Los datos del comportamiento del usuario se almacenan en el archivo `/datasets/music_project_en.csv`. No hay ninguna información sobre la calidad de los datos, así que necesitarás examinarlos antes de probar la hipótesis.

Primero, evaluarás la calidad de los datos y verás si los problemas son significativos. Entonces, durante el preprocesamiento de datos, tomarás en cuenta los problemas más críticos.

Tu proyecto consistirá en tres etapas:
 1. Descripción de los datos.
 2. Preprocesamiento de datos.
 3. Prueba de hipótesis.

## Etapa 1. Descripción de los datos <a id='data_review'></a>

Abre los datos y examínalos.

Necesitarás `pandas`, así que impóralo

In [1]:
#Importar pandas como pd
import pandas as pd

Lee el archivo `music_project_en.csv` de la carpeta `/datasets/` y guárdalo en la variable `df`:

En este caso, la ruta del archivo cambió, ya que era la ruta en plataforma del bootcamp, por lo que la ruta siguiente es local.

In [2]:
# Lectura de archivo CSV con la ruta local
df = pd.read_csv(r'E:\análisis de datos\datasets\music_project.csv')

Muestra las 10 primeras filas de la tabla:

In [3]:
#Uso del método head para imprimir las primeras filas, en paréntesis el 10 para que sean las 10 primeras
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday
8,8FA1D3BE,И вновь продолжается бой,NaN,ruspop,Moscow,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday

Obtén la información general sobre la tabla con un comando. Conoces el método que muestra la información general que necesitamos.

In [4]:
#Uso del método info para conocer la información general del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63848 non-null  object
 2   artist    57876 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

Estas son nuestras observaciones sobre la tabla. Contiene siete columnas. Almacenan los mismos tipos de datos: `object`.

Según la documentación:
- `' userID'`: identificador del usuario o la usuaria;
- `'Track'`: título de la canción;
- `'artist'`: nombre del artista;
- `'genre'`: género de la pista;
- `'City'`: ciudad del usuario o la usuaria;
- `'time'`: la hora exacta en la que se reprodujo la canción;
- `'Day'`: día de la semana.

Podemos ver tres problemas con el estilo en los encabezados de la tabla:
1. Algunos encabezados están en mayúsculas, otros en minúsculas.
2. Hay espacios en algunos encabezados.
3. `Los titulos de cada columna son poco explicitos por lo que es ambiüa su interpretación`.

### Escribe observaciones de tu parte. Estas son algunas de las preguntas que pueden ser útiles: <a id='data_review_conclusions'></a>

`1.   ¿Qué tipo de datos tenemos a nuestra disposición en las filas? ¿Y cómo podemos entender lo que almacenan las columnas?`

`2.   ¿Hay suficientes datos para proporcionar respuestas a nuestra hipótesis o necesitamos más información?`

`3.   ¿Notaste algún problema en los datos, como valores ausentes, duplicados o tipos de datos incorrectos?`

`1.   En las filas tenemos datos de data frames o series. Las columnas tienen datos de tipo Dtype Object que es lo mismo que cadenas o strings` 

`2.   Sí. La cantidad de datos almacenados es muy alta, por lo que se puede usar para probar hipótesis de los datos`

`3.Si, hay algunos valores NaN, lo que indica que hubo algun problema, error o que los usuarios omitieron ingresar un campo, además, noto problema con los nombres de las columnas`

## Etapa 2. Preprocesamiento de datos <a id='data_preprocessing'></a>

El objetivo aquí es preparar los datos para que sean analizados.
El primer paso es resolver cualquier problema con los encabezados. Luego podemos avanzar a los valores ausentes y duplicados. Empecemos.

Corrige el formato en los encabezados de la tabla.

### Estilo del encabezado <a id='header_style'></a>
Muestra los encabezados de la tabla (los nombres de las columnas):

In [5]:
#Uso del método columns para imprimir las 
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Cambia los encabezados de la tabla de acuerdo con las reglas del buen estilo:
* Todos los caracteres deben ser minúsculas.
* Elimina los espacios.
* Si el nombre tiene varias palabras, utiliza snake_case.

Anteriormente, aprendiste acerca de la forma automática de cambiar el nombre de las columnas. Vamos a aplicarla ahora. Utiliza el bucle for para iterar sobre los nombres de las columnas y poner todos los caracteres en minúsculas. Cuando hayas terminado, vuelve a mostrar los encabezados de la tabla:

In [6]:
#Cambio a minúsculas con ciclo for
lowered_cols = [] #Variable vacía donde estarán los datos corregidos con columnas en minúsculas
for old_cols in df.columns: #Ciclo for que itera en las columnas 
    col_lowered = old_cols.lower() #Uso de lower para cambiar todo a minúsculas
    lowered_cols.append(col_lowered) #Uso de append para agregar los cambios a la variable vacía

lowered_cols

['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day']

Ahora, utilizando el mismo método, elimina los espacios al principio y al final de los nombres de las columnas e imprime los nombres de las columnas nuevamente:

In [7]:
#Eliminación de espacios con ciclo for
new_cols = [] #Variable vacía donde almacenar los nombres de columnas editados
for spaced_cols in lowered_cols: #Ciclo for que itera sobre cada elemento de la lista resultante de la modificación de columnas
    no_spaced_cols = spaced_cols.strip() #Eliminación de espacios con método Strip
    new_cols.append(no_spaced_cols) #Adición de cambio a la variable vacía

df.columns = new_cols #Establecer los nombres de columnas con la lista de cadenas con los nombres editados

df.columns #Impresión de los nombres de columnas

Index(['userid', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

Necesitamos aplicar la regla de snake_case a la columna `userid`. Debe ser `user_id`. Cambia el nombre de esta columna y muestra los nombres de todas las columnas cuando hayas terminado.

In [8]:
#Cambio de la columna a snake_case
user_id_new = {'userid':'user_id'}
df.rename(columns = user_id_new, inplace = True)
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

### Valores ausentes <a id='missing_values'></a>
 Primero, encuentra el número de valores ausentes en la tabla. Debes utilizar dos métodos en una secuencia para obtener el número de valores ausentes.

In [9]:
#Uso del método isna y sum para contar los valores ausentes de los datos
print(df.isna().sum())

user_id       0
track      1231
artist     7203
genre      1198
city          0
time          0
day           0
dtype: int64

No todos los valores ausentes afectan a la investigación. Por ejemplo, los valores ausentes en `track` y `artist` no son cruciales. Simplemente puedes reemplazarlos con valores predeterminados como el string `'unknown'` (desconocido).

Pero los valores ausentes en `'genre'` pueden afectar la comparación entre las preferencias musicales de Springfield y Shelbyville. En la vida real, sería útil saber las razones por las cuales hay datos ausentes e intentar recuperarlos. Pero no tenemos esa oportunidad en este proyecto. Así que tendrás que:
* rellenar estos valores ausentes con un valor predeterminado;
* evaluar cuánto podrían afectar los valores ausentes a tus cómputos;

Reemplazar los valores ausentes en las columnas `'track'`, `'artist'` y `'genre'` con el string `'unknown'`. Como mostramos anteriormente en las lecciones, la mejor forma de hacerlo es crear una lista que almacene los nombres de las columnas donde se necesita el reemplazo. Luego, utiliza esta lista e itera sobre las columnas donde se necesita el reemplazo haciendo el propio reemplazo.

In [29]:
#Reemplazo de valores ausentes
columns_to_replace = ['track', 'artist', 'genre'] #Creación de variable con la lista de columnas con valores a reemplazar

for col in columns_to_replace: #Ciclo for que itera en cada columna de la lista
    df.fillna({col:'unknown'}, inplace = True) #reemplazo de ausentes con "unknown" mediante método fillna
    #Forma 1 df[col] = df[col].fillna('unknown', inplace = True) pero arroja warning
    #Forma 2 df[col] = df[col].fillna('unknown')
    #Forma 3 df.fillna({col:'unknown'}, inplace = True)

Ahora comprueba el resultado para asegurarte de que después del reemplazo no haya valores ausentes en el conjunto de datos. Para hacer esto, cuenta los valores ausentes nuevamente.

In [11]:
#Uso de isna y sum para sumar los ausentes en cada columna
print(df.isna().sum())

user_id       0
track      1231
artist     7203
genre      1198
city          0
time          0
day           0
dtype: int64

### Duplicados <a id='duplicates'></a>
Encuentra el número de duplicados explícitos en la tabla. Una vez más, debes aplicar dos métodos en una secuencia para obtener la cantidad de duplicados explícitos.

In [12]:
#Busqueda de duplicados explícitos con una cadena formateada
print(f"Esta tabla tiene {df.duplicated().sum()} valores duplicados")

Esta tabla tiene 3826 valores duplicados

Ahora, elimina todos los duplicados. Para ello, llama al método que hace exactamente esto.

In [13]:
#Uso de método drop_duplicates para eliminar duplicados
df.drop_duplicates(inplace = True)

Comprobemos ahora si eliminamos con éxito todos los duplicados. Cuenta los duplicados explícitos una vez más para asegurarte de haberlos eliminado todos:

In [14]:
#Busqueda de duplicados explícitos con una cadena formateada
print(f"esta tabla tiene {df.duplicated().sum()} valores duplicados")

esta tabla tiene 0 valores duplicados

Ahora queremos deshacernos de los duplicados implícitos en la columna `genre`. Por ejemplo, el nombre de un género se puede escribir de varias formas. Dichos errores también pueden afectar al resultado.

Para hacerlo, primero mostremos una lista de nombres de género únicos, ordenados en orden alfabético. Para ello:
* Extrae la columna `genre` del DataFrame.
* Llama al método que devolverá todos los valores únicos en la columna extraída.

In [15]:
#Impresión de valores unívocos
print(df['genre'].unique())

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic' nan
 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'tatar' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'shanson' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'contemporary' 'new' 'soul' 'holiday' 'german'
 'tropical' 'fairytail' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'chanson'
 'numetal' 'vocal' 'estrada' 'russian' 'classicmetal' 'dubstep' 'club'
 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french' 'disco'
 'religious' 'hiphop' 'drum' 'extrememetal' 'türkçe' 'experimental' 'easy'
 'metalcore' 'modern' 'argentinetango' 'old' 'breaks' 'eurofolk'
 'stonerrock' 'industrial' 'funk' 'jpop' 'middle' 'variété' 'other'
 'adult' 'christian' 'gothic' 'international' 'muslim' 'relax' 'schlager'
 'caribbean' 'ukrrock' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'historisch' 'downbeat'
 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait' 'deutschrock'
 'eastern' 'action' 'future' 'electropop' 'folklore' 'bollywood'
 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras' 'электроника'
 'afrikaans' 'tango' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers'
 'choral' 'dancepop' 'podcasts' 'retro' 'smooth' 'mexican' 'brazilian'
 'ïîï' 'mood' 'surf' 'author' 'gangsta' 'triphop' 'inspirational' 'idm'
 'ethnic' 'bluegrass' 'broadway' 'animated' 'americana' 'karadeniz'
 'rockabilly' 'colombian' 'self' 'synthrock' 'sertanejo' 'japanese'
 'canzone' 'swing' 'lounge' 'sport' 'korean' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'alternativepunk' 'emo' 'laiko' 'cantopop'
 'glitch' 'documentary' 'rockalternative' 'thrash' 'hymn' 'oceania'
 'rockother' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'soft' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber'
 'cuban' 'taraftar' 'rockindie' 'gypsy' 'hardtechno' 'shoegazing'
 'skarock' 'bossa' 'salsa' 'latino' 'worldbeat' 'malaysian' 'baile'
 'ghazal' 'loungeelectronic' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'poprussian' 'punjabi' 'synthpop' 'rave' 'französisch'
 'quebecois' 'speech' 'soulful' 'teen' 'jam' 'ram' 'horror' 'scenic'
 'orchestral' 'neue' 'roots' 'slow' 'jungle' 'indipop' 'axé' 'fado'
 'showtunes' 'arena' 'irish' 'mandopop' 'forró' 'popdance' 'dirty'
 'regional']

Busca en la lista para encontrar duplicados implícitos del género `hiphop`. Estos pueden ser nombres escritos incorrectamente o nombres alternativos para el mismo género.

Verás los siguientes duplicados implícitos:
* `hip`
* `hop`
* `hip-hop`

Para deshacerte de ellos, crea una función llamada `replace_wrong_genres()` con dos parámetros:
* `wrong_genres=`: esta es una lista que contiene todos los valores que necesitas reemplazar.
* `correct_genre=`: este es un string que vas a utilizar como reemplazo.

Como resultado, la función debería corregir los nombres en la columna `'genre'` de la tabla `df`, es decir, remplazar cada valor de la lista `wrong_genres` por el valor en `correct_genre`.

Dentro del cuerpo de la función, utiliza un bucle `'for'` para iterar sobre la lista de géneros incorrectos, extrae la columna `'genre'` y aplica el método `replace` para hacer correcciones.

In [16]:
#Creación de la función que itere en los géneros y corrija el género hip hop
def replace_wrong_genres (df, column, wrong_genres, correct_genre):
    for wrong_genre in wrong_genres: #Ciclo for que itera sobre la lista de generos
        df[column] = df[column].replace(wrong_genre, correct_genre) #reemplazar el título incorrecto por el correcto
    return df

Ahora, llama a `replace_wrong_genres()` y pásale tales argumentos para que retire los duplicados implícitos (`hip`, `hop` y `hip-hop`) y los reemplace por `hiphop` y asegúrate de que los nombres duplicados han sido eliminados. Muestra la lista de valores únicos de la columna `'genre'` una vez más.

In [17]:
#Uso de la función creada
wrong_genres = ['hip', 'hop', 'hip-hop'] #Lista de cadenas con el género hip hop inadecuado
correct_genre = 'hiphop' #Cadena de reemplazo

replace_wrong_genres(df,'genre', wrong_genres,correct_genre) #Llamada de la función con el etablecimiento de parámetros
print(df['genre'].unique()) #Impresión de los cambios en los géneros unívocos

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic' nan
 'alternative' 'children' 'rnb' 'hiphop' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'tatar' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'shanson' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'contemporary' 'new' 'soul' 'holiday' 'german'
 'tropical' 'fairytail' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'chanson'
 'numetal' 'vocal' 'estrada' 'russian' 'classicmetal' 'dubstep' 'club'
 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french' 'disco'
 'religious' 'drum' 'extrememetal' 'türkçe' 'experimental' 'easy'
 'metalcore' 'modern' 'argentinetango' 'old' 'breaks' 'eurofolk'
 'stonerrock' 'industrial' 'funk' 'jpop' 'middle' 'variété' 'other'
 'adult' 'christian' 'gothic' 'international' 'muslim' 'relax' 'schlager'
 'caribbean' 'ukrrock' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'historisch' 'downbeat'
 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait' 'deutschrock'
 'eastern' 'action' 'future' 'electropop' 'folklore' 'bollywood'
 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras' 'электроника'
 'afrikaans' 'tango' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers'
 'choral' 'dancepop' 'podcasts' 'retro' 'smooth' 'mexican' 'brazilian'
 'ïîï' 'mood' 'surf' 'author' 'gangsta' 'triphop' 'inspirational' 'idm'
 'ethnic' 'bluegrass' 'broadway' 'animated' 'americana' 'karadeniz'
 'rockabilly' 'colombian' 'self' 'synthrock' 'sertanejo' 'japanese'
 'canzone' 'swing' 'lounge' 'sport' 'korean' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'alternativepunk' 'emo' 'laiko' 'cantopop'
 'glitch' 'documentary' 'rockalternative' 'thrash' 'hymn' 'oceania'
 'rockother' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'soft' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber'
 'cuban' 'taraftar' 'rockindie' 'gypsy' 'hardtechno' 'shoegazing'
 'skarock' 'bossa' 'salsa' 'latino' 'worldbeat' 'malaysian' 'baile'
 'ghazal' 'loungeelectronic' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'poprussian' 'punjabi' 'synthpop' 'rave' 'französisch'
 'quebecois' 'speech' 'soulful' 'teen' 'jam' 'ram' 'horror' 'scenic'
 'orchestral' 'neue' 'roots' 'slow' 'jungle' 'indipop' 'axé' 'fado'
 'showtunes' 'arena' 'irish' 'mandopop' 'forró' 'popdance' 'dirty'
 'regional']

### Tus observaciones <a id='data_preprocessing_conclusions'></a>

`Describe brevemente lo que has notado al analizar duplicados, cómo abordaste sus eliminaciones y qué resultados obtuviste.`

`Ahora solo revisamos datos duplicados implicitos de una sola columna, por lo que se podrìa evaluar cada columna con el objetivo de pulir màs nuestros datos y despues sacar conclusiones de ellos. Iterar sobre los datos duplicados es sencillo mediante las funciones, para ello primero hay que saber los datos unìvocos y con ello ver cuales son lo mismo pero con errores de escritura o con cadenas con diferente estructura que python no considere como mismo datos, por lo que usar una funciòn que realice esto de forma automatizada facilita el trabajo. A forma de resultado, se obtuvo un conjunto de datos unìvocos que muestran todos los gèneros sin duplicados con ortografìa variada.`

## Etapa 3. Prueba de hipótesis <a id='hypothesis'></a>

### Hipótesis: comparar el comportamiento del usuario o la usuaria en las dos ciudades <a id='activity'></a>

La hipótesis afirma que existen diferencias en la forma en que los usuarios y las usuarias de Moscow y Saint-Petersburg consumen música. Para comprobar esto, usa los datos de tres días de la semana: lunes, miércoles y viernes.

* Agrupa a los usuarios y las usuarias por ciudad.
* Compara el número de canciones que cada grupo reprodujo el lunes, el miércoles y el viernes.

Realiza cada cálculo por separado.

El primer paso es evaluar la actividad del usuario en cada ciudad. Recuerda las etapas dividir-aplicar-combinar de las que hablamos anteriormente en la lección. Tu objetivo ahora es agrupar los datos por ciudad, aplicar el método apropiado para contar durante la etapa de aplicación y luego encontrar la cantidad de canciones reproducidas en cada grupo especificando la columna para obtener el recuento.

A continuación se muestra un ejemplo de cómo debería verse el resultado final:
`df.groupby(by='....')['column'].method()`Realiza cada cálculo por separado.

Para evaluar la actividad de los usuarios y las usuarias en cada ciudad, agrupa los datos por ciudad y encuentra la cantidad de canciones reproducidas en cada grupo.

In [18]:
#Agrupación por ciudad
track_by_city = df.groupby(by= 'city')['track'].count() #Variable que guarda la agrupación por ciudad del número de pistas reproducidas
print(track_by_city)

city
Moscow              41952
Saint-Petersburg    18146
Name: track, dtype: int64

In [19]:
#Revisión de que ciudad reprodujo más pistas
total_moscow = track_by_city['Moscow']
total_saint = track_by_city['Saint-Petersburg']
print(f"En Moscow se escucha {(total_moscow/total_saint).round(1)} veces más canciones")

En Moscow se escucha 2.3 veces más canciones

`Comenta tus observaciones aquí`
En Moscow se escucha 2.3 veces màs canciones en comparaciòn con Saint-Petersburg.

Ahora agrupemos los datos por día de la semana y encontremos el número de canciones reproducidas el lunes, miércoles y viernes. Utiliza el mismo método que antes, pero ahora necesitamos una agrupación diferente.

In [20]:
#Agrupación por día
track_by_day = df.groupby(by= 'day')['track'].count()
track_by_day

day
Friday       21512
Monday       20828
Wednesday    17758
Name: track, dtype: int64

`Comenta tus observaciones aquí`
El dìa viernes es el dìa que màs canciones se escuchan.

Ya sabes cómo contar entradas agrupándolas por ciudad o día. Ahora necesitas escribir una función que pueda contar entradas según ambos criterios simultáneamente.

Crea la función `number_tracks()` para calcular el número de canciones reproducidas en un determinado día **y** ciudad. La función debe aceptar dos parámetros:

- `day`: un día de la semana para filtrar. Por ejemplo, `'Monday'` (lunes).
- `city`: una ciudad para filtrar. Por ejemplo, `'Moscow'`.

Dentro de la función, aplicarás un filtrado consecutivo con indexación lógica.

Primero filtra los datos por día y luego filtra la tabla resultante por ciudad.

Después de filtrar los datos por dos criterios, cuenta el número de valores de la columna 'user_id' en la tabla resultante. Este recuento representa el número de entradas que estás buscando. Guarda el resultado en una nueva variable y devuélvelo desde la función.

In [21]:
#Función que recupera indexación lógica por día y por ciudad y devuelve una agrupación por ciudad del número de usuarios
def number_tracks (data, day, city): #Definición de función
    df_filtrado = data[(data['day'] == day) & (data['city'] == city)] #Variable con la indexación lógica
    return df_filtrado.groupby(by= 'city')['user_id'].count() #Retorno de función, una agrupación por ciudad del número de usuarios

Llama a `number_tracks()` seis veces, cambiando los valores de los parámetros para que recuperes los datos de ambas ciudades para cada uno de los tres días.

In [22]:
#Llamadas de la función con diferentes parámetros
day = ['Monday', 'Wednesday', 'Friday'] #Variable con una lista de diferentes cadenas representando los días
city = ['Saint-Petersburg', 'Moscow'] #Variable con una lista de las dos diferentes ciudades

#Uso de cadena formateada con la llamada de la función
print(f"En {city[0]} hubo un total de {(number_tracks(df,day[0],city[0])).iloc[0]} usuarios con reproducción de música el {day[0]}")
print('--------------')
print(f"En {city[0]} hubo un total de {(number_tracks(df,day[1],city[0])).iloc[0]} usuarios con reproducción de música el {day[1]}")
print('--------------')
print(f"En {city[0]} hubo un total de {(number_tracks(df,day[2],city[0])).iloc[0]} usuarios con reproducción de música el {day[2]}")
print('--------------')
print(f"En {city[1]} hubo un total de {(number_tracks(df,day[0],city[1])).iloc[0]} usuarios con reproducción de música el {day[0]}")
print('--------------')
print(f"En {city[1]} hubo un total de {(number_tracks(df,day[1],city[1])).iloc[0]} usuarios con reproducción de música el {day[1]}")
print('--------------')
print(f"En {city[1]} hubo un total de {(number_tracks(df,day[2],city[1])).iloc[0]} usuarios con reproducción de música el {day[2]}")

En Saint-Petersburg hubo un total de 5614 usuarios con reproducción de música el Monday
--------------
En Saint-Petersburg hubo un total de 7003 usuarios con reproducción de música el Wednesday
--------------
En Saint-Petersburg hubo un total de 5895 usuarios con reproducción de música el Friday
--------------
En Moscow hubo un total de 15740 usuarios con reproducción de música el Monday
--------------
En Moscow hubo un total de 11056 usuarios con reproducción de música el Wednesday
--------------
En Moscow hubo un total de 15945 usuarios con reproducción de música el Friday

**Conclusiones**

`Comenta si la hipótesis es correcta o se debe rechazar. Explica tu razonamiento.`

Si, la hipotesis es correcta, ya que el consumo de musica es superior en Springfield respecto a Shelbyville, independietemente del día.

**Conclusiones**

`Comenta si la hipótesis es correcta o se debe rechazar. Explica tu razonamiento.`

Si, la hipotesis es correcta, ya que el consumo de musica es dependiente de la ciudad, independietemente del día. # Conclusiones <a id='end'></a>

`Resume aquí tus conclusiones sobre la hipótesis.`

Al realizar el recuento de los usuarios por día y por ciudad, nos damos cuenta de que impacto tiene la musica en dicha ciudad, por lo que es una oportunidad de negocio tratar de comercializar la musica en la ciudad que más la consume.

### Nota
En proyectos de investigación reales, la prueba de hipótesis estadística es más precisa y cuantitativa. También ten en cuenta que no siempre se pueden sacar conclusiones sobre una ciudad entera a partir de datos de una sola fuente.

Aprenderás más sobre la prueba de hipótesis en el sprint de análisis estadístico de datos.